<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <add name ="MainDB" connectionString="Data Source=.\Alert.db, Version = 3;" providerName ="System.Data.SqlCLient"/>
    <add name ="DummyDB" connectionString="Data Source=.\AlertDummy.db, Version = 3;" providerName ="System.Data.SqlCLient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>